body {
    background-color: rgb(4, 47, 71);
}

h1 {
    text-align: center;
}

.form-op {
    width: 450px;
    margin: 25px auto;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(216, 216, 216, 0.329);
    box-sizing: border-box;
    padding: 15px 0px;
}

.form-op input, .form-op button, .form-op select {
    box-sizing: border-box;
    padding: 10px 5px;
    display: block;
    margin: 10px auto;
    width: 95%;
}